<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.babycore.wearables">

    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.health.READ_SLEEP" />
    <uses-permission android:name="android.permission.health.READ_EXERCISE" />
    <uses-permission android:name="android.permission.health.READ_BODY_TEMPERATURE" />

    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>
</manifest>
